<div id="main_content">
  <div id="header">
    <p>All posts</p>
    <div class="buttons">
      <button class="button"> <%= link_to "New post", new_post_path %> </button>
      <button class="button">Log out</button>
    </div>
  </div>
<!--   <%# flash.each do |name, msg| %>
    <%#= content_tag(:div, msg, class: "alert") %>
  <%# end %>
 --></div>


