<div id="sidebar">
  <div id="logo">
    <%= link_to root_path do  %>
      <%= image_tag "logo.svg" %>
    <% end %>
  </div>

  <ul>
    <li class="category">Websites</li>
    <li><%= link_to "Blog", root_path %></li>
    <li><%= link_to 'About', about_path %></li>
  </ul>

  <ul>
    <li class="category"><a href="#"></a>Social</li>
    <li><a href="#"></a>Twitter</li>
    <li><a href="#"></a>Instagram</li>
    <li><a href="#"></a>Github</li>
    <li><a href="#"></a>Email</li>
  </ul>

  <p class="sign_in">Admin login</p>
</div>

